* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: monospace;
  height: 100vh;
  overflow: hidden;
}

.hidden { display: none; }

/* ОСНОВНОЙ ЭКРАН */
#screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#text {
  font-size: 3rem;
  max-width: 80%;
  line-height: 1.3;
}

#buttons { margin-top: 40px; }

button {
  background: black;
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  padding: 10px 30px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background: white;
  color: black;
}

#continue {
  margin-top: 60px;
  font-size: 1.2rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 4s;
}

#continue.show { opacity: 1; }

/* PASSWORD */
.pwd-box {
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-top:30px;
}

#hint-img1,
#hint-img2 {
  position: fixed;
  inset: 0;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  z-index: 50;
  background: black;
}


#password-input {
  background:black;
  border:2px solid white;
  color:white;
  font-size:1.4rem;
  padding:12px;
  width:320px;
  text-align:center;
}

#pwd-error {
  color:red;
  font-size:1rem;
  opacity:0.7;
}

/* SLIDERS */
.slider-title {
  font-size:2rem;
  margin-bottom:40px;
}

.sliders {
  display:flex;
  gap:100px;
}

.slider-block {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
}

.slider {
  width:260px;
  height:14px;
  transform:rotate(-90deg);
  accent-color:white;
}

.slider-block span {
  font-size:1.2rem;
  opacity:0.7;
}

/* СКРИМЕР */
#screamer {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
  animation: flash 0.06s infinite;
}

#screamer img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

@keyframes flash {
  0% { filter: brightness(1); }
  50% { filter: brightness(1.4); }
  100% { filter: brightness(1); }
}

/* ТИТРЫ */
#credits {
  position: fixed;
  inset: 0;
  background: black;
  overflow: hidden;
  z-index: 30;
  opacity: 0;
  transition: opacity 5s;
}

#credits.show { opacity: 1; }

.credits-content {
  position:absolute;
  left:50%;
  transform:translate(-50%, 100vh);
  max-width:900px;
  width:100%;
}

.credits-content p {
  font-size:2rem;
  margin:80px 0;
  text-align:center;
}

.credits-img {
  width:50%;
  margin:80px 0;
  filter:grayscale(100%);
  transition:filter 3s ease;
}

.left { align-self:flex-start; }
.right { align-self:flex-end; }

.credits-img.color {
  filter:grayscale(0%);
}
